body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #0B1A25;
}

@font-face {
    font-family: 'got-font';
    src: local('got-font'), url('./fonts/got.ttf')  format('truetype');
}
